#app {
  font-size: 1.5vw;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}


.character-planner {
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  height: 200vw;
}



.saver-loader {
  background-color: wheat;
  width: 10vw;
}



.character-config {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  width: 18vw;
}

.base-stats {
  background-color: gray;
}

.real-stats {
  background-color: darkslategray;
  width: 9vw;
}

.stat {
  color: aliceblue;
  margin: 0.5vw;
  display: flex;
  justify-content: space-between;
}



.remove-option {
  background-color: crimson;
  margin: 0.5vw;
}

.item-slot {
  width: 8vw;
  min-height: 4vw;
  margin: 0.5vw;
  padding: 0 1vw 0 1vw;
}

.choosable-items-list {
  width: 21vw;
  position: relative;
}

.choosable-item {
  background-color: black;
  color: darkorange;
  background-image: url("../assets/slot.png");
  background-size: 100% 100%;
}

.selected-item {
  background-image: url("../assets/selected-slot.png");
}

.scrollable-list {
  max-height: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.available-items-list {
  background-color: green;
  position: absolute;
  z-index: 1;
  left: 10.5vw;
  top: 1.5vw;
}

.available-item {
  background-color: black;
  color: lime;
  background-image: url("../assets/slot.png");
  background-size: 100% 100%;
}

.item-tooltip {
  background-color: black;
  position: absolute;
  z-index: 2;
  left: -36.5vw;
  width: 35vw;
  top: 1.5vw;
}