#app {
  background-color: hotpink;
}

.dnd-profile {
  background-color: coral;
}

.chosen-spells-list {
  height: 90vh;
  width: 20vw;
  background-color: dodgerblue;
}

.chosen-spell {
  background-color: greenyellow;
  color: cyan;
  background-image: url("../assets/slot.png");
  background-size: cover;
}

.available-spells-list {
  background-color: green;
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 6em;
}

.available-spell {
  background-color: maroon;
  color: aquamarine;
  background-image: url("../assets/slot.png");
  background-size: cover;
}

.spell-tooltip {
  background-color: yellow;
  position: absolute;
  z-index: 2;
  left: 5em;
  top: 1em;
  width: 10em;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  position: relative;
  width: 5em;
  height: 5em;
  margin: 0.5em;
}
