#app {
  background-color: hotpink;
}

.dnd-profile {
  background-color: coral;
  display: flex;
  flex-direction: row;
}

.class-control {
  background-color: springgreen;
}

.saver-loader {
  background-color: wheat;
}


.character-stats {
  background-color: blueviolet;
  width: 24vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.base-values {
  background-color: slategray;
  width: 11vw;
}

.real-values {
  background-color: darkslategray;
  width: 11vw;
}

.stat {
  color: aliceblue;
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}


.remove-option {
  background-color: crimson;
  margin: 0.5em;
}

.spell-slot {
  width: 5em;
  min-height: 2em;
  margin: 0.5em;
  padding: 0 0 0 0.5em;
}

.chosen-spells-list {
  height: 90vh;
  width: 23vw;
  background-color: dodgerblue;
  margin: 1vh;
  position: relative;
}

.chosen-spell {
  background-color: greenyellow;
  color: darkorange;
  background-image: url("../assets/slot.png");
  background-size: 100% 100%;
}

.currently-choosing {
  background-image: url("../assets/selected-slot.png");
}

.scrollable-list {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.available-spells-list {
  background-color: green;
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 6em;
}

.available-spell {
  background-color: peru;
  color: lime;
  background-image: url("../assets/slot.png");
  background-size: 100% 100%;
}

.spell-tooltip {
  background-color: yellow;
  position: absolute;
  z-index: 2;
  left: -21em;
  width: 20em;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

pre {
  white-space: pre-wrap;
}